layout {
    floating_panes {
        pane name="AI" command="claude" start_suspended=true {
            x "50%"
            y "40%"
            width "45%"
            height "40%"
        }
    }

    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
